# Python virtual environment
.venv/

# SQLite database
*.db
*.db-journal

# Log files
*.log
*.log.*
nohup.out

# NLTK Data (if downloaded locally)
nltk_data/

# IDE / Editor specific
.idea/
.vscode/
*.pyc
__pycache__/

# Flask cache
instance/
.webassets-cache/
.flask_cache/

# Database Backups
backups/

# Test files and templates
test_*.py
tests/__init__.py
*_template.html
*corrected.sh
restart_test*.sh

# Flask server log
/flask_server.log

# Restart server script
# restart_server.sh # Don't ignore this script

# Thumbnail cache
thumbnail_cache/
